/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

  @font-face {
    font-family: Poppins-Regular;
    src: url('assets/fonts/poppins/Poppins-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url('assets/fonts/poppins/Poppins-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('assets/fonts/poppins/Poppins-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Bold;
    src: url('assets/fonts/montserrat/Montserrat-Bold.ttf'); 
  }
  
  /*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/
  
  * {
      margin: 0px; 
      padding: 0px; 
      box-sizing: border-box;
  }
  
  body, html {
      height: 100%;
      font-family: Poppins-Regular, sans-serif;
      color: #333333;
      background-color: #addbc6;
  }
  
  /*---------------------------------------------*/
  a {
      font-family: Poppins-Medium;
      font-size: 14px;
      line-height: 1.7;
      color: #444444;
      margin: 0px;
      transition: all 0.4s;
      text-decoration: none;

      height: 25px;
      border-radius: 10px;
      border: 1px #333333;
  }
  
  a:focus {
      outline: none! important;
      text-decoration: none;
      font-weight: bold;
  }
  
  a:hover {
      text-decoration: none;
      color: #333333;
      font-weight: bold;
  }
  
  /*---------------------------------------------*/
  h1,h2,h3,h4,h5,h6 {
      margin: 0px;
  }
  div {
    border-spacing: 100px;
  }

  p {
      font-family: Poppins-Regular;
      font-size: 14px;
      line-height: 1.7;
      color: #666666;
      margin: 0px;
  }
  
  ul, li {
      margin: 0px;
      list-style-type: none;
  }

  /* trying this padding style for noew, hard to see without actual data in tables */
  td {
    padding: 10px;
  }

  th {
    padding: 15px;
  }

  /* add emphasis for project title in card */
  td.project-title {
    font-weight: 900;
  }

  td.project-member-input {
    text-align: center;
  }

  td.input-spacing {
    padding: 10px;
  }

  th {
    text-align: left;
    white-space: nowrap;
    border-bottom: 2px solid #ddd;
  }

  th.project-manager-title {
    border-bottom: none;
  }

  header {
    width: 100%;
  }
  
  .txt1 {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.5;
    color: #999999;
  }

  .project-members-heading {
    font-family: Poppins-Regular;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    white-space: nowrap;
    float: center;
    width: 100%;
  }
  
  /*//////////////////////////////////////////////////////////////////
  [ Containers ]*/
  
  .limiter {
    width: 100%;
    margin: 0 auto;
  }

  .domain-container {
    width: 100%;  
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }

  .card-container {
    width: 1100px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 45px  40px 45px;
    margin: 30px;
  }

  .edit-profile-card-container {
    width: 900px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 45px  40px 45px;
  }

  .create-new-user-card-container {
    width: 880px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 45px  40px 45px;
  }

  .search-card-container {
    width: 1200px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 45px  40px 45px;

    /* pin search results to the top instead of auto center */
    position: absolute; 
    top: 80px;
  }

  .manager-create-new-project-card-container {
    width: 800px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 45px  40px 45px;
  }

  .login-input-container {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
  }
  
  .login-container {
    width: 960px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 177px 130px  33px 95px;
  }

  .submit-button-container {
    padding: 10px;
  }

  .search-bar-container {
    padding: 10px;
    float: right;
  }

  .skills-container {
    width: 100%;
    flex-wrap: wrap;
  }

/*//////////////////////////////////////////////////////////////////
  [ BUTTONS ]*/

  .logout-button {
    font-family: Montserrat-Bold;
      font-size: 13px;
      color: #444444;
      border: none;
      text-align: center;
    
      width: 80px;
      height: 25px;
      border-radius: 10px;
      background: #fff;
  }
  
  .submit-button {
    font-family: Montserrat-Bold;
      font-size: 13px;
      color: #fff;
      border: none;
      text-align: center;
    
      width: 130px;
      height: 50px;
      border-radius: 25px;
      background: #a2c5be;
  }

  .edit-delete-button {
    background-color: #fff;
    border: none; /* Remove borders */
    color: #666666; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  
  /*----------------------------------
  [ Login Button ]*/
  
  .container-login-form-button {
    width: 100%;
    justify-content: center;
    padding-top: 20px;
  }
  
  .login-form-button {
    font-family: Montserrat-Bold;
    font-size: 13px;
    line-height: 1.5;
    color: #fff;
    border: none;
  
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #a2c5be;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    transition: all 0.4s;
  }
  
  .login-form-button:hover {
    background: #333333;
  }
  
  /*------------------------------------------------------------------
  [ Login Page ]*/
  .login-pic {
    width: 316px;
  }
  
  .login-pic img {
    max-width: 100%;
  }
  
  .login-form {
    width: 290px;
  }
  
  .login-form-title {
    font-family: Poppins-Bold;
    font-size: 27px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
  
    width: 100%;
    display: block;
    padding-bottom: 54px;
  }
  
  .login-input {
    font-family: Poppins-Medium;
    font-size: 14px;
    line-height: 1.5;
    color: #666666;
    outline: none;
    border: none;
  
    width: 100%;
    border-radius: 25px;
    background: #e6e6e6;
    height: 50px;
    padding: 0 30px 0 30px;
  }

  .generic-php-error {
    font-family: Poppins-Medium;
    font-style: italic;
    font-size: 12px;
    line-height: 1.5;
    color: #ce0000;
    outline: none;
    border: none;
    padding: 0 0 0 10px;
  }

  .add-member-AJAX1, .add-member-AJAX2, .add-member-AJAX3, .add-member-AJAX4, .add-manager-AJAX {
    font-family: Poppins-Medium;
    font-size: 13px;
    line-height: 1.5;
    color: #666666;
    outline: none;
    border: 1px solid #e6e6e6;
    border-radius: 25px;
    padding: 5px 5px 5px 10px;
    margin: 2px;
    background-color: #cef1f7;
  }

  .add-member-AJAX1:hover, .add-member-AJAX2:hover, .add-member-AJAX3:hover, .add-member-AJAX4:hover {
    background-color: #d7faea;
    border: 1px solid #000000;
  }

  /*------------------------------------------------------------------
  [ Responsivness - For dynamically resizing the Login page ]*/
  
  @media (max-width: 992px) {
    .login-container {
      padding: 177px 90px 33px 85px;
    }
  
    .login-pic {
      width: 35%;
    }
  
    .login-form {
      width: 50%;
    }
  }
  
  @media (max-width: 768px) {
    .login-container {
      padding: 100px 80px 33px 80px;
    }
  
    .login-pic {
      display: none;
    }
  
    .login-form {
      width: 100%;
    }
  }
  
  @media (max-width: 576px) {
    .login-container {
      padding: 100px 15px 33px 15px;
    }
  }
  

  /*//////////////////////////////////////////////////////////////////
  [ Navigation Bar ]*/

nav {
  width: 100%;
  justify-content: right;
  align-items: right;
  position: absolute;
  top:0;
  transition: top 0.3; /* transition when scrolling */
}

nav ul li{
	display:inline;
	padding: 0 2%;
  margin: 0;
  float: right;
}

.text-input {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #333333;
  outline: none;
  border: #a8a8a8;
  float: right;

  width: 230px;
  border-radius: 25px;
  background: #ebebeb;
  height: 35px;
  padding: 0 20px 0 20px;
}

textarea {

  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #333333;

  width: 350px;
  height: 90px;
  border-radius: 25px;
  padding: 0 20px 0 20px;
  border: #a8a8a8;
  background: #ebebeb;
  padding: 12px 20px;
  resize: none;
  outline: none! important;
}

.custom-file-input {
  font-size: 12px;
  text-decoration: none;
  font-family: Poppins-Regular;
}

input[type="date"] {
  background-color: #ebebeb;
  border-radius: 25px;
  border: #a8a8a8;
  outline: none;
  font-family: Poppins-Regular;
  padding: 8px 8px 8px 18px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  font-size: 15px;
}

/*//////////////////////////////////////////////////////////////////
  [ Search Bar ]*/

  /* search field */
  form.search-bar input[type=text] {
    font-size: 12px;
    padding: 8px 8px 8px 18px;
    background:  #fff;
    border-radius: 25px;
    outline: none;
    border: 1px solid #a8a8a8;
  }

  /* search button */
  form.search-bar button {
    float: right;
    padding: 5px 8px 8px 10px;
    background: #fff;
    color: #444444;
    font-size: 20px;
    border: none;
    cursor: pointer;
  }

input:disabled {
  background: #cdcdcd;
}